{% extends "base.html" %}

{% block content %}

<!--500 error page-->
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <p>
            <br>
            <h3>500 - Internal Server Error :(
                <br>
                <br>
                <strong>Ooops, something went terribly wrong!!!!</strong>
                <br>
                <br>
                Things are a bit unstable here...
                Try to refresh this page, if the problem persists we suggest come back a bit later.
            
                We will fix it ASAP!</h3>
            <br>
        </p>
    </div>
</div>
{%endblock%}