{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-md-5 my-2 text-center">
    <div class="row">
        <div class="col-md-10 mx-auto mt-3 offset-md-2 text-center text-danger">
            <h2 class="mt-1">About Us</h2>
        </div>
    </div>
</div>
<div class="container-lg mb-3 pt-3">
    <div class="row mx-2 pb-md-5">
        <div class="col-12 col-md-6 mt-xxl-1 p-lg-5">
            <h5 class="mb-4">My name is Joao, I am a Portuguese guy who lives outside Portugal for more than 9 years.
                <br>
                <br>
                Like most,
                Portugueses, nothing makes me happier than a typical Pastel de Nata but when you live abroad that is a
                big problem.
                <br>
                <br>
                Then I created this blog, kind of a guide "How a Portuguese can survive as an immigrant".
                <br>
                <br>
                In Portuguese Desserts, we have compiled all the recipes that belong to all the Portuguese tables. A
                myriad of cakes and desserts brings us back to our childhood.
                <br>
                <br>
                A collection for Portuguese, curious, and lovers of traditional confectionery.
                Welcome to this oasis of flavors and Portuguese traditions.</h5>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-xxl-1 p-lg-5">
            <img class="img-fluid about-me-image"
                src="https://res.cloudinary.com/dwqowur4a/image/upload/c_scale,q_100,r_0,w_1290/v1671528838/desserts/portuguese_bakery.jpg"
                alt="image of portuguese bakery">
        </div>
    </div>
</div>
{% endblock %}