{% extends 'base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <h1 class="page-title">Add Post</h1>
    <hr class="home-break">
    <br>
    <div class="row justify-content-center ">
        {% load cloudinary %}
        <div class="col-11 col-md-8 col-lg-6 mt-3 add-recipe-outer">
            <form method="post" class="add-post mb-5" enctype="multipart/form-data">
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">Add</button>
                <a class="btn btn-outline-dark m-2" href="{%  url 'home' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{%endblock%}
{% block js %}
<script>
    // convert Post title to slug-format on front-end
    /* jshint esversion: 11 */
    let title = document.getElementById("id_title");
    let slug = document.getElementById("id_slug");
    title?.addEventListener("keyup", convertToSlug);
    slug?.addEventListener("keyup", convertToSlug);

    function convertToSlug() {
      slug.value = title.value.toLowerCase()
                 .replace(/ /g, '-')
                 .replace(/[^\w-]+/g, '');
    }
</script>
{% endblock %}